body{
    display: flexbox;
    justify-content: center;
  align-items: center;

  background-color: rgb(71, 71, 71);
}
.name{
    font-size: 50px;
    color: rgb(216, 211, 211);
    text-align: center;
    margin-top: 20px;
    margin-bottom:100px;
}
.fullSection{
    overflow: hidden; 
    white-space: nowrap; 
    text-align: center;
    vertical-align: bottom;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 120px;
}
button{
    font-size: 40px;
    width: 90px;
    height: 100px;
    background-color: aquamarine;
    margin: 5px;
    border-radius: 10px;
    transition-duration: 2s;
}
.clear{
    width: 90px;
    margin: 5px;
    font-size: 45px;
}
.result{
    overflow: hidden; 
    white-space: nowrap; 
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 8px;
    height: 80px;
    background-color: rgb(87, 170, 212);
    font-size: 50px;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 0px;
}
.oper{
    background-color: rgb(225, 196, 124);
}
.equal{
    background-color: rgb(245, 212, 212);
}
.clear{
    background-color: rgb(197, 244, 217);
}

.anim{
    animation: buttonAnim 0.2s;
}

@keyframes buttonAnim{
    0% {
        scale: 0.9;
    }
    100%{
        scale: 1;
    }

}