body{
    display: flexbox;
    justify-content: center;
  align-items: center;

  background-color: rgb(71, 71, 71);
}
.fullSection{
    overflow: hidden; /* Prevent text overflow */
    white-space: nowrap; /* Prevent text wrapping */
    /* text-overflow: ellipsis; */
    /* width: auto; */
    text-align: center;
    vertical-align: bottom;
    /* background-color: brown; */
    background-color: rgb(0, 0, 0);
    display: flex;
    /* max-width: 440px; */
    flex-direction: column;
    border-radius: 5%;
    padding: 20px;
    /* overflow: hidden;
    flex-wrap: nowrap; */
}
button{
    font-size: 40px;
    width: 90px;
    height: 100px;
    background-color: aquamarine;
    margin: 5px;
    border-radius: 10px;
}
.clear{
    width: 90px;
    margin: 5px;
    font-size: 45px;
}
.result{
    overflow: hidden; /* Prevent text overflow */
    white-space: nowrap; /* Prevent text wrapping */
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 8px;
    height: 80px;
    background-color: rgb(87, 170, 212);
    font-size: 50px;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 10px;
    /* overflow: hidden;
    flex-wrap: nowrap; */
}

.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 93vh;
    /* overflow: hidden;
    flex-wrap: nowrap; */
    
}
.oper{
    background-color: rgb(225, 196, 124);
}
.equal{
    background-color: rgb(245, 212, 212);
}
.clear{
    background-color: rgb(197, 244, 217);
}